<p>This is the login view.</p>

<div class="jumbotron">
  <form class="form-horizontal">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label class="control-label" for="inputUserName">user name:</label>
          <div class="controls">
            <input id="inputUserName" type="text" placeholder="enter your username here...">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputUserPassword">password:</label>
          <div class="controls">
            <input id="inputUserPassword" type="password" placeholder="enter your password here...">

          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <a ng-click="loginUser()" class="btn btn-primary">login</a>
          </div>
        </div>
      </fieldset>
    </form>

</div>
