<div>

  <!-- Checkbox -->
<!--   <span class="glyphicon"
    ng-class="{'glyphicon-unchecked': !node.isChecked(), 'glyphicon-check': node.isChecked()}"
    ng-click="node.checkClicked(!node.checked)">

    ng-class="{'glyphicon-unchecked': node.getCheckedStatus() === 'unchecked', 'glyphicon-check': node.getCheckedStatus() == 'someChecked'}"

  </span>
 -->

  <span class="glyphicon"
    ng-class="{
      'glyphicon-unchecked': node.getCheckedStatus() === 'unchecked',
      'glyphicon-check': node.getCheckedStatus() === 'allChecked',
      'glyphicon-check incomplete': node.getCheckedStatus() === 'someChecked'
    }"
    ng-click="node.checkClicked(!node.checked)">
  </span>
  <!-- <span class="glyphicon"
    ng-class="{
      'glyphicon-unchecked': node.getCheckedStatus() === 'someChecked'
    }"
    ng-click="node.checkClicked(!node.checked)">
  </span> -->

  <!-- Folder icon -->
  <span class="glyphicon" ng-if="node.type == 'folder'"
    ng-class="{'glyphicon-folder-open': node.open, 'glyphicon-folder-close': !node.open}"
    ng-click="node.open = !node.open">
  </span>

  <!-- File icon -->
  <span class="glyphicon glyphicon-file" ng-if="node.type == 'file'"></span>

  <!-- Node name -->
  <span>&nbsp;</span>
  <span>{{ node.name }}</span>

  <!-- Child nodes -->
  <node-list value="node.children" ng-if="node.type == 'folder' && node.open" style="padding-left: 25px;"></node-list>

</div>
